# Match dependencies in any folder/subfolder
**/node_modules/

# Match secrets in any folder/subfolder
**/.env
**/.env.*
!.env.example

# Build outputs & system junk
**/dist/
**/build/
.DS_Store
*.logs